version: '3.5'

services:
  golangci-lint:
    image: golangci/golangci-lint:v1.54.1
    working_dir: /app
    volumes:
      - ..:/app
      - ~/.cache/golangci-lint/v1.54.1:/root/.cache
  goreleaser:
    build:
      context: .
    environment:
      - ALGOLIA_APPID
      - ALGOLIA_SEARCH_KEY
      - BUILDKITE_AGENT_JOB_API_SOCKET
      - BUILDKITE_AGENT_JOB_API_TOKEN
    working_dir: /go/src/github.com/buildkite/cli
    volumes:
      - ..:/go/src/github.com/buildkite/cli
      - ${BUILDKITE_AGENT_JOB_API_SOCKET}:${BUILDKITE_AGENT_JOB_API_SOCKET}
