version: "3.5"

services:
  golangci-lint:
    image: golangci/golangci-lint:v2.8.0
    working_dir: /app
    volumes:
      - ..:/app
      - ~/.cache/golangci-lint/v1.54.1:/root/.cache
  goreleaser:
    build:
      context: .
    environment:
      - BUILDKITE_AGENT_JOB_API_SOCKET
      - BUILDKITE_AGENT_JOB_API_TOKEN
      - POSTHOG_API_KEY
      - DOCKERHUB_USER
      - DOCKERHUB_PASSWORD
    working_dir: /go/src/github.com/buildkite/cli
    volumes:
      - ..:/go/src/github.com/buildkite/cli
      - ${BUILDKITE_AGENT_JOB_API_SOCKET}:${BUILDKITE_AGENT_JOB_API_SOCKET}
      - /var/run/docker.sock:/var/run/docker.sock
